.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .slider {
    overflow: hidden;
    background-color: white;
    margin: 0 15px;
    height: 80px;
    width: 20px;
    border-radius: 30px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
      inset -5px -5px 10px rgba(0, 0, 255, 0.1),
      inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
      inset 0px 0px 0px rgba(0, 0, 0, 0.1);
    animation: animate_2 2.5s ease-in-out infinite;
    animation-delay: calc(-0.5s * var(--i));
  }
  
  @keyframes animate_2 {
    0% {
      transform: translateY(250px);
      filter: hue-rotate(0deg);
    }
  
    50% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(250px);
      filter: hue-rotate(180deg);
    }
  }

.custom-navbar {
    background-color: #6a1b9a; /* Dark purple background color */
  }
  
  .custom-navbar .navbar-brand {
    color: #fff; /* White text color */
    font-size: 2rem; /* Larger font size */
    font-weight: bold; /* Bolder font weight */
  }
  
  .custom-navbar .navbar-toggler {
    border-color: #fff; /* White color for the toggler icon border */
  }
  
  .custom-navbar .navbar-toggler-icon {
    background-color: #fff; /* White color for the toggler icon */
  }
  
  .custom-navbar .navbar-nav {
    display: flex;
    justify-content: center; /* Center the buttons */
    width: 100%;
  }
  
  .custom-navbar .navbar-nav .nav-item {
    margin: 0;
  }
  
  .custom-navbar .navbar-nav .nav-link {
    color: #fff; /* White text color */
    font-size: 1.2rem; /* Larger font size */
    font-weight: bold; /* Bolder font weight */
    margin: 0 10px; /* Adjust the spacing between links */
  }
  
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #ecf0f1; /* Lighter text color on hover */
  }

  .social {
    display: flex;
    height: 70px;
    width: 350px;
  }
  
  .social svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
  }
  
  .social .social-link1,.social .social-link2,.social .social-link3,.social .social-link4,.social .social-link5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .social svg {
    transform: scale(1);
  }
  
  .social .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .social .social-link2:hover {
    background-color: #242c34;
    animation: bounce_613 0.4s linear;
  }
  
  .social .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
  }
  
  .social .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
  }
  
  .social .social-link5:hover {
    background-color: #ff8000;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  